/* C O L O R S */
.text-white {
  color: #FFF;
}
.bg-light-gray {
  background-color: #F6F6F6;
}
.bg-white {
  background-color: #FFF;
}

/* T Y P E */
body {
  font-size: 16px;
  line-height: 1.625;
}
h1, .h1 {
  font-family: NunitoSans-Black, NunitoSans-Bold, sans-serif;
  font-size: 26px;
  line-height: 1.25;
  margin-bottom: 24px;
}
h2, .h2 {
  font-family: NunitoSans-Black, NunitoSans-Bold, sans-serif;
  font-size: 24px;
  line-height: 1.25;
  margin-bottom: 20px;
}
h3, .h3 {
  font-family: NunitoSans-Black, NunitoSans-Bold, sans-serif;
  font-size: 24px;
  line-height: 1.25;
}
p {
  margin-bottom: 16px;
}
strong {
  font-family: NunitoSans-Bold, sans-serif;
}
.lead {
  font-size: 20px;
  line-height: 1.5;
}
li {
  margin-bottom: 16px;
}
#faqs ul {
  list-style: none;
  padding-left: 0;
  margin-bottom: 40px;
}
#faqs .question {
  margin-bottom: 4px;
}
@media (min-width: 768px) {
  h1, .h1 {
    font-size: 36px;
  }
  h2, .h2 {
    font-size: 30px;
  }
}

/* B U T T O N S */
.btn-default, .btn-primary, .btn-success, .btn-group-lg>.btn, .btn-group-sm>.btn, .btn-group-xs>.btn, .btn-lg, .btn-sm, .btn-xs {
  border: 0;
  text-shadow: none;
  background-image: none;
  box-shadow: none;
  border-radius: 5px;
  transition: background-color 250ms ease, color 250ms ease;
}
.inputfile+label.btn-primary {
  background-color: #1ebcb0;
}
.inputfile+label.btn-primary:hover {
  background-color: #16877f;
}
.btn-large {
  padding: 18px 28px;
}
.btn.btn-xs {
  padding: 4px 10px;
}
.btn.btn-danger.btn-xs {
  margin-left: -15px;
}
.link--cta {
  display: inline-block;
  line-height: 1;
  color: #1EBCB0;
  padding-bottom: 6px;
  border-bottom: 2px solid #1EBCB0;
  transition: color 250ms ease, border-color 250ms ease;
}
.link--cta:hover {
  color: #137a72;
  border-bottom: 2px solid #137a72;
  text-decoration: none;
}

/* S P A C I N G  H E L P E R S */
.pt-20,.py-20 {padding-top: 20px;}
.pb-20,.py-20 {padding-bottom: 20px;}

.pt-40,.py-40 {padding-top: 40px;}
.pb-40,.py-40 {padding-bottom: 40px;}

.pt-60,.py-60 {padding-top: 60px;}
.pb-60,.py-60 {padding-bottom: 60px;}

.pt-80,.py-80 {padding-top: 80px;}
.pb-80,.py-80 {padding-bottom: 80px;}

.mt-20,.my-20 {margin-top: 20px;}
.mb-20,.my-20 {margin-bottom: 20px;}

.mt-40,.my-40 {margin-top: 40px;}
.mb-40,.my-40 {margin-bottom: 40px;}

.mt-60,.my-60 {margin-top: 60px;}
.mb-60,.my-60 {margin-bottom: 60px;}

.mt-80,.my-80 {margin-top: 80px;}
.mb-80,.my-80 {margin-bottom: 80px;}

/* G L O B A L */
#formset-container .tab-content {
  margin-bottom: 0;
  clear: both;
}
.field-container .form-group {
  padding-left: 0;
  padding-right: 0;
}
.row-position {
  padding-bottom: 24px;
}
.content .col-md-12 {
  margin-top: 0;
}
.content .tab-pane.active,
.content .tab-pane {
  padding: 0;
}
.form > .pull-right {
  margin-top: 20px;
}
.form .bump-right {
  display: block;
  margin-left: 0;
  margin-bottom: 10px;
}
.panel-default > .panel-heading {
  background-image: none;
  border-top-right-radius: 4px;
	border-top-left-radius: 4px;
}
.subsection-header .bump-right {
  margin-bottom: 0;
}
.well {
  box-shadow: none;
  background: transparent;
}
#formset-container .tab-content .row {
  margin-left: -15px !important;
  margin-right: -15px !important;
}
#formset-container .tab-content .row .row {
  margin-left: 0px !important;
  margin-right: 0px !important;
}
@media only screen and (-webkit-min-device-pixel-ratio: 2) and (max-device-width: 480px) and (min-device-width: 320px) and (orientation: portrait) {
  #formset-container .tab-content .row {
    margin-left: 0 !important;
    margin-right: 0 !important;
  }
}
@media (min-width: 768px) {
  #formset-container .tab-content .row {
    margin-left: 0px !important;
    margin-right: 0px !important;
  }
}

/* N A V */
.navbar {
  min-height: 0;
}
.navbar-header {
  border-bottom: 1px solid #DBDBDB;
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
.navbar-header:after, .navbar-header:before {
  display: none;
}
.navbar-collapse {
  max-height: none;
  position: fixed;
  width: 100%;
  background-color: #fff;
  border: 0;
  border-bottom: 1px solid #DBDBDB;
  overflow-x: hidden;
  box-shadow: none;
  padding: 0;
}
.navbar-nav {
  margin: 0;
}
.navbar-brand {
  flex: 0 1 auto;
  height: 54px;
  width: 200px;
}
.navbar-form {
  margin: 0;
  border-bottom: 0;
  box-shadow: none;
}
.navbar-inverse .navbar-nav > li > a {
  font-size: 14px;
  line-height: 1.42857143;
  color: #424242;
  text-shadow: none;
  transition: color 250ms ease;
}
.nav.navbar-nav.top-nav li.active,
.nav.navbar-nav.top-nav li.active:hover {
  border-bottom: 0;
}
.nav.navbar-nav.top-nav li.active a {
  color: #424242;
}
.nav.navbar-nav.top-nav li.active:hover a {
  color: #1EBCB0;
}
.nav.navbar-nav.top-nav li:hover ul a,
.nav.navbar-nav.top-nav li.active:hover ul a {
  color: #424242;
}
.navbar-toggle {
  margin-top: 16px;
  margin-bottom: 16px;
  background-color: #1EBCB0;
}
.dropdown-menu {
  border: 1px solid #ccc;
  border-radius: 0;
  padding: 0;
}
.dropdown-menu li {
  margin-bottom: 0;
}

@media (min-width: 768px) {
  .navbar-header {
    border: 0;
    width: auto;
    display: inline-block;
  }
  .navbar-header:after, .navbar-header:before {
    display: table;
  }
  .navbar .navbar-brand {
    margin-top: 8px;
  }
  .navbar-collapse.collapse {
    position: static;
  }
  .top-nav {
    padding-left: 20px;
  }
  .navbar-nav > li {
    margin: 0 10px;
  }
  .nav.navbar-nav.top-nav li.active {
    color: #424242;
    border-bottom: 5px solid #1EBCB0;
  }
  .nav.navbar-nav.top-nav li.active:hover {
    border-bottom: 5px solid #1EBCB0;
  }
  .navbar-inverse .navbar-nav > li.active:hover a,
  .navbar-inverse .navbar-nav > li:hover a {
    color: #1EBCB0;
  }
  .navbar-inverse .navbar-nav > li > a {
    padding: 24px 0;
  }
  .navbar-right {
    margin-top: 18px;
    margin-bottom: 18px;
  }
  .navbar-form.navbar-right:last-child,
  .navbar-nav.navbar-right:last-child {
    margin-right: 0;
  }
  .dropdown-menu > li > a {
    padding: 10px 20px;
  }
}

@media (min-width: 992px) {
  .navbar {
    padding-right: 0;
  }
}

/* F O O T E R */
.footer {
  background-color: #262525;
  color: #fff;
  margin-top: -15px;
  margin-bottom: -15px;
}
.footer ul {
  list-style: none;
  padding-left: 0;
}
.footer li {
  margin-bottom: 10px;
}
.footer li a {
  color: #fff;
  text-decoration: underline;
  opacity: 1;
  transition: opacity 250ms ease;
}
.footer li a:hover {
  opacity: 0.8;
}
.footer a.btn {
  text-decoration: none;
}
.footer a.btn:hover {
  opacity: 1;
}
.footer hr {
  margin: 10px 0 20px;
}

/* T A B S */
.nav-tabs {
  border-bottom: 1px solid #ddd;
  clear: both;
}
#form-datatools-container .nav-tabs {
  border-bottom: 0;
  margin-left: 0;
}
#form-datatools-container .tab-content .tab-pane {
  background-color: #fff;
}
#form-datatools-container .nav-tabs > .nav-tab.active {
  background-color: #e0e0e0;
}
#form-datatools-container .table > tbody > tr > td {
  vertical-align: middle;
}
.nav-tabs .nav-tab a {
  transition: background-color 250ms ease, border 250ms ease;
}
.nav-tabs .nav-tab.active a,
.nav-tabs .nav-tab.active a:focus,
.nav-tabs .nav-tab.active a:hover {
  border: 1px solid #ddd;
  border-bottom-color: transparent;
}
.nav-tabs > li:not(.active) > a:hover {
  border-bottom: 1px solid #ddd;
  background-color: #eee !important;
}
.content .tab-pane.active {
  border: 1px solid #ddd;
  border-radius: 5px;
}
.tab-pane .panel {
  border: 1px solid #ddd;
  border-radius: 4px;
  box-shadow: none;
}
.panel-body {
  border-radius: 4px;
}
#form-datatools-container {
  margin-bottom: 40px;
}

/* F O R M S */
.form-group .field-header .field-label {
  margin-top: 20px;
  margin-bottom: 8px;
  float: none;
}
.tt-menu {
  border-radius: 4px;
  cursor: pointer;
}
.tt-suggestion.tt-cursor, .tt-suggestion:hover {
  background-color: #1ebcb0;
}
.reactableResult-wrapper {
  padding: 0;
}

/* V A L I D A T I O N */
.alert.alert-danger {
  margin-top: 32px;
  background-image: none;
}
.alert ul {
  margin-top: 8px;
  padding-left: 20px;
}
.alert ul li {
  margin-bottom: 8px;
}
ul.validation-messages {
  padding-top: 10px;
  padding-left: 24px;
  font-size: 80%;
}
ul.validation-messages li {
  margin-bottom: 8px;
}

/* S E A R C H  R E S U L T S */
.search-results-list-container {
  padding-left: 0;
  padding-right: 0;
}
.search-results-list-container .result-row {
  margin-bottom: 32px;
}
.search-results-list-container .result-row:first-of-type {
  margin-top: 32px;
}

/* M E D I A */
img {
  max-width: 100%;
}
.image--round-corners {
  border-radius: 5px;
}

/* H O M E P A G E */
.hero {
  background-color: #262525;
  background-image: url(https://rescue-my-animal.imfast.io/assets/rma-home-hero.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}
.row--offset-photo {
  border-top: 8px solid #FFC229;
}
.row--offset-photo .image-side {
  margin-bottom: -60px;
  right: -8.33333333%;
  right: calc(-8.33333333% - 15px);
}
.row--offset-photo .text-side {
  padding: 24px;
}
.row--offset-reverse .image-side {
  right: 0;
  left: -8.33333333%;
  left: calc(-8.33333333% - 15px);
}
.highlight-bar {
  margin-bottom: 60px;
  position: relative;
  z-index: 0;
}
.highlight-bar::before {
  content: '';
  position: absolute;
  width: 100%;
  height: 32px;
  left: 0;
  bottom: -16px;
  background-color: #FFF;
  z-index: -1;
}
.highlight-bar--gray::before {
  background-color: #F6F6F6;
}
[data-id="7801"] .search-results-list-container {
  text-align: center;
  margin-bottom: 40px;
}
[data-id="7801"] .note {
  display: none;
}
.step {
  margin-bottom: 20px;
}
.step-image {
  max-width: 224px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 20px;
}

@media (min-width: 768px) {
  .row--offset-photo .text-side {
    padding: 60px;
  }
  .row--offset-photo .image-side {
    right: -8.33333333%;
  }
  .row--offset-reverse .image-side {
    left: -8.33333333%;
  }
  .highlight-bar {
    max-width: 50%;
    margin-left: auto;
    margin-right: auto;
  }
  .highlight-bar--left {
    max-width: 80%;
    width: auto;
    margin-left: 0;
  }
}

@media (min-width: 992px) {
  .row--offset-photo .text-side {
    padding: 80px 20px 80px 80px;
  }
  .row--offset-reverse .text-side {
    padding: 80px 80px 80px 20px;
  }
  .row--offset-photo .image-side {
    margin-top: -40px;
  }
}

/* A N I M A L  R E S C U E  M A N A G E */
.content .col-md-12[data-id="7744"] {
  margin-top: 40px;
  margin-bottom: 40px;
}
.field-container.fsem {
  padding-bottom: 16px;
}
.field-container.fsem > .action-column button {
  background-image: none;
  text-shadow: none;
  background-color: #f44927;
  padding: 4px 8px;
  border: 0;
}
.field-container.fsem .glyphicon {
  line-height: 20px;
}
.field-container.fsem .field-label {
  margin-top: 10px;
}
div.file-list-edit {
  margin-bottom: 10px;
}